.bedriftCard {
  border-radius: 15px;
  border: 1px solid #c4ad64;
  margin: 10px 0;
  padding: 15px;
}

.bedriftCard:nth-of-type(odd) {
  background-color: #FCFBF1;
}

.bedriftCard:nth-of-type(even) {
  background-color: #F9F5E6;
}