.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bedriftDetaljerLeft {
  width: 60%;
  padding: 10px;
}

.bedriftDetaljerRight {
  width: 35%;
  padding: 10px;
}

.title {
  font-weight: 600;
  color: #5A362F;
}

.attention {
  color: #e00000;
  font-weight: 800;
}

hr {
  margin-top: 10px;
  border-top: 1px dashed #E1BB7A;
  border-bottom: 1px dashed #fff;
}


@media screen and (min-width: 965px),
(max-width:767px) {

  .attention,
  .breakPoint {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .breakPoint > div:nth-of-type(2) {
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .card {
    flex-direction: column;
  }

  .bedriftDetaljerLeft,
  .bedriftDetaljerRight {
    width: 100%
  }
}