.title {
  text-wrap: nowrap;
}

@media screen and (min-width: 768px) {

  .code,
  .navn {
    margin-left: 5px;
  }

  .inputFieldList {
    width: 75%;
    display: flex;
    justify-content: space-between;
  }

  .code {
    width: 80px;
  }

  .rowCol {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .navn {
    width: 90%;
  }
}