  .spanRight {
    margin-right: 40px;
  }

  .breakPoint {
    width: 100%;
    align-items: flex-end;
  }

  @media screen and (min-width: 768px) {
    .breakPoint {
      display: flex;
      justify-content: space-between;
    }
  }