@media screen and (min-width: 768px) {

  .inputFieldData,
  .inputField {
    width: 75%;
  }

  .breakPoint,
  .inputField input {
    width: 100%;
    align-items: flex-end;
  }

  .breakPoint input {
    margin-left: 5px;
  }

  .inputFieldData,
  .inputField,
  .breakPoint,
  .fra,
  .til {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .fra input,
  .til input {
    width: 200px;
    margin-top: -2px;
  }

}

.searchButton {
  width: 100px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  background-color: #5A362F;
  border-radius: 10px;
  border: 2px solid #5A362F;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 1px 1px 4px 0px #666666;
}

.searchButton:hover {
  color: #5A362F;
  background-color: #C4AD64;
}

@media screen and (min-width: 900px) {
  .inputFieldData {
    justify-content: start;
  }

  .til {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {

  .til,
  .fra {
    flex-direction: column;
  }

  select,
  input:not([type="radio"]) {
    width: 90vw;
  }
}