@media screen and (min-width: 768px) {

  .inputFieldData,
  .inputField {
    width: 75%;
  }

  .breakPoint,
  .inputField input {
    width: 100%;
  }

  .breakPoint input {
    margin-left: 5px;
  }

  .breakPoint:nth-of-type(3) > div:nth-of-type(1) {
    padding-top: 5px;
  }

  .inputFieldData,
  .inputField,
  .breakPoint,
  .fra,
  .til {
    display: flex;
    justify-content: space-between;
  }

  .fra input,
  .til input {
    width: 200px;
    margin-top: -2px;
  }

}

.searchButton {
  width: 100px;
}

@media screen and (min-width: 900px) {
  .inputFieldData {
    justify-content: start;
  }

  .til {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {

  .til,
  .fra {
    flex-direction: column;
  }

  select,
  input:not([type="radio"]) {
    width: 90vw;
  }
}