:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Selected text */
::selection {
  color: #38221D;
  background: #EE942D;
  -webkit-text-fill-color: #38221D;
}

*:focus-visible {
  outline: #EE942D solid 2px;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-evenly {
  justify-content: space-evenly;
}

.column {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

img {
  -webkit-user-drag: none;
}

h1 {
  font-size: calc(1rem + 3vw);
  text-align: center;
  color: #38221D;
}

h2 {
  font-size: calc(1rem + 1vw);
  text-align: center;
  margin-bottom: 0.5rem;
}


button {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  background-color: #5A362F;
  border-radius: 10px;
  border: 2px solid #5A362F;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 1px 1px 4px 0px #666666;
}

button:hover {
  color: #5A362F;
  background-color: #C4AD64;
}

select,
input:not([type="radio"]) {
  width: 90vw;
  padding: 2px;
  border-radius: 4px;
  border: 2px solid #E1BB7A;
  text-indent: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: inherit;

  &:focus {
    border: 2px solid transparent
  }
}

select {
  height: 2rem;
}

footer p {
  text-align: center;
}

ul {
  list-style: none;
}


#root {
  /* max-width: 1280px; */
  min-width: 375px;
  min-height: 100vh;
  padding-bottom: 2vh;
}

#search-input {
  align-items: center;
  width: 90vw;
}

#search-input div {
  margin-top: 1vh;
  text-wrap: nowrap;
}

#search-result {
  margin: 20px 0;
}

#pagination {
  margin: 3rem auto;
}

.bold {
  font-weight: 800;
}

/* ------------------------------- Toggle icon ------------------------------ */
/* https://codepen.io/It-Kurs/pen/vYPOrJv?editors=1100 */
.ham {
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #38221D;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham.active .top {
  stroke-dashoffset: -64px;
  stroke: #5A362F;
}

.ham.active .middle {
  transform: rotate(90deg);
  stroke: #5A362F;
}

.ham.active .bottom {
  stroke-dashoffset: -64px;
  stroke: #5A362F;
}

.hamRotate.active {
  transform: rotate(45deg);
}


.ham .top {
  stroke-dasharray: 40 160;
}

.ham .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

/* --------------------------End icon----------------------------------- */
.active {
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

a {
  font-weight: 800;
  color: #5A362F;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

nav {
  width: 100%;
  padding: 2vh 3vw;
  justify-content: right;
  background-color: #E1BB7A;
}

nav ul {
  display: flex;
}

nav ul > li {
  margin-left: 1rem;
  font-size: 1.1rem;
}

main {
  align-items: center;
  padding: 0 3vw;
}

.hidden {
  display: flex;
}

.hidden-invert {
  display: none;
}

@media screen and (max-width: 425px) {
  nav {
    padding: 0 0;
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 10px 5px;
  }

  .hidden {
    display: none;
  }

  .hidden-invert {
    display: block;
  }
}