:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: #EE942D solid 3px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

img {
  -webkit-user-drag: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 30px 10px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #38221D;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

a {
  font-weight: 800;
  color: #38221D;
  text-decoration: none;
}

a:hover {
  color: #7D4C41;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  margin: 15px;
  padding: 10px 20px;
  color: #fff;
  background-color: #5A362F;
  border-radius: 10px;
  border: 2px solid #5A362F;
  cursor: pointer;
  transition: border-color 0.25s;
  /* transition: all .15s ease; */
}

button:hover {
  color: #fff;
  background-color: #5a362fa9;
}

footer p {
  text-align: center;
}

ul {
  list-style: none;
}

nav ul {
  justify-content: right;
  margin: 1rem;
}

nav ul > li {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.active {
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

.pagination {
  margin: 3rem auto;
}